{{block "badges-page" .}}
  {{template "head" .}}
  {{template "badges" .}}
  {{template "foot" .}}
{{end}}

{{block "badges" .}}
  {{template "layout-start" .}}

  <button class="btn btn-primary">button</button>

  <button class="btn btn-primary">button {{template "badge"}}</button>

  <button class="btn btn-primary">{{template "icon-settings-theme"}}{{template "badge"}}</button>

  <button class="btn btn-primary relative">
    {{template "icon-settings-theme"}}
    {{template "badge-offset"}}
  </button>

  <div class="divider"></div>

  <p>Using indicator</p>

  <div class="indicator">
    <span class="indicator-item badge badge-secondary">&plus;99</span>
    <button class="btn btn-primary">press me</button>
  </div>

  {{template "layout-end" .}}
{{end}}

{{define "badge"}}
  <div class="badge badge-sm badge-secondary">with badge</div>
{{end}}

{{define "badge-offset"}}
  <div class="badge badge-sm badge-secondary absolute -top-3 -right-4">&plus;99</div>
{{end}}
