{{block "head" .}}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/htmx.min.js"></script>
    <script type="text/javascript" src="/js/hyperscript.min.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>

    <script type="text/javascript" src="/js/htmx-ext-sse.min.js"></script>
    <script type="text/javascript" src="/js/htmx-ext-response-targets.min.js"></script>

    <meta name="htmx-config" content='{"historyCacheSize": 0,"refreshOnHistoryMiss": true}'>
  </head>

  <body hx-history="false"
        hx-ext="sse,response-targets"
        class="min-h-screen flex">
{{end}}
