{{block "icons-page" .}}
  {{template "head" .}}
  {{template "layout" .}}
  {{template "foot" .}}
{{end}}

{{block "icons" .}}

  <p>As downloaded from https://fonts.google.com/icons</p>
  <div>
    {{template "icon-home"}}
    {{template "icon-settings"}}
  </div>

  <p>Replacing <code>fill="currentColor"</code> and adding <code>stroke="currentColor"</code></p>
  <div>
    {{template "icon-home-theme"}}
    {{template "icon-settings-theme"}}
  </div>

{{end}}

{{define "icon-home"}}
    <img src="/img/icon-home.svg" alt="home" />
{{end}}

{{define "icon-home-theme"}}
    <img src="/img/icon-home-theme.svg" alt="home" />
{{end}}

{{define "icon-settings"}}
    <img src="/img/icon-settings.svg" alt="settings" />
{{end}}

{{define "icon-settings-theme"}}
    <img src="/img/icon-settings-theme.svg" alt="settings" />
{{end}}

{{define "icon-sun"}}
    <img src="/img/icon-sun.svg" alt="sun" />
{{end}}

{{define "icon-moon"}}
    <img src="/img/icon-moon.svg" alt="moon" />
{{end}}
