{{block "layout-start" .}}
  <div class="flex flex-row">
    <ul class="flex-none menu bg-base-200">
      {{range .Nav}}
        <li><a href="{{.Href}}"
               {{if .Active}}class="menu-active"{{end}}
               hx-get="{{.Href}}"
               hx-target="closest div"
               hx-swap="outerHTML"
               >{{.Label}}</a></li>
      {{end}}
    </ul>

    <main id="main" class="grow m-2">
{{end}}

{{block "layout-end" .}}
    </main>
  </div>
{{end}}
