{{block "layout-start" .}}
  <div class="flex flex-row">
    <ul class="flex-none menu bg-base-200">
      <li><a href="/">root</a></li>
      <li><a href="/badges">badges</a></li>
      <li><a href="/icons">icons</a></li>
      <li><a href="/template-fragments">fragments</a></li>
    </ul>

    <main class="grow m-2">
{{end}}

{{block "layout-end" .}}
    </main>
  </div>
{{end}}
