{{block "layout" .}}
  <div class="flex flex-row">
    <div hx-get="/nav/{{.Page}}"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML"></div>

    <main id="main" class="grow m-2"></main>
  </div>
{{end}}

{{block "nav" .}}
  <ul class="flex-none menu bg-base-200">
    {{range .Nav}}
      <li><a href="{{.Href}}" {{if .Active}}class="menu-active"{{end}}
             hx-get="/nav{{.Href}}"
             hx-target="closest ul"
             hx-swap="outerHTML"
             >{{.Label}}</a></li>
    {{end}}
    <li>{{template "widget-theme-toggle" .}}</li>
  </ul>

  <main id="main" class="grow m-2" hx-swap-oob="true">
    <div hx-get="{{.Href}}"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML"
         hx-push-url="true"
         >Loading</div>
  </main>
{{end}}
