{{define "widget-stat-loader"}}
  <div class="stat">
    <div class="stat-title"><div class="skeleton w-32 h-4 mt-1"></div></div>
    <div class="stat-value"><div class="skeleton w-32 h-8 mt-1"></div></div>
    <div class="stat-desc"><div class="skeleton w-32 h-4 my-1"></div></div>
  </div>
{{end}}

{{define "widget-table-loader"}}
  <div class="skeleton h-28 w-full"></div>
{{end}}
