{{block "root-page" .}}
  {{template "head" .}}
  {{template "nav" .}}

  <div class="divider"></div>

  <div class="join">
    <div hx-get="/widget/stat/pageviews"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML">{{template "widget-stat-loader"}}</div>

    <div hx-get="/widget/stat/downloads"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML">{{template "widget-stat-loader"}}</div>

    <div hx-get="/widget/stat/new-registers"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML">{{template "widget-stat-loader"}}</div>

    <div hx-get="/widget/stat/users"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML">{{template "widget-stat-loader"}}</div>

  </div>

  <div class="divider"></div>

  <div hx-get="/widget/table/employees"
       hx-trigger="load"
       hx-target="this"
       hx-swap="innerHTML">{{template "widget-table-loader"}}</div>

  <div class="divider"></div>

  {{template "foot" .}}
{{end}}
