{{block "root-page" .}}
  {{template "head" .}}
  {{template "root" .}}
  {{template "foot" .}}
{{end}}

{{block "root" .}}
  {{template "layout-start" .}}

  {{/* server time */}}
  <div hx-get="/widget/server-time"
       hx-trigger="load"
       hx-target="this"
       hx-swap="outerHTML">{{template "widget-server-time-loader"}}</div>

  <div class="divider"></div>

  {{range $v := .NumChunks}}
    {{/* Graphs .*/}}
    <div hx-get="/widget/graph-random?_{{$v}}"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML">{{template "widget-graph-random-loader"}}</div>

    {{/* Radial progress */}}
    <div hx-get="/widget/radial-graphs?_{{$v}}"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML">{{template "widget-radial-graphs-loader"}}</div>

    {{/* Statistics boxes. */}}
    <div class="join w-full">
      <div hx-get="/widget/stat/pageviews?_={{$v}}"
           hx-trigger="load"
           hx-target="this"
           hx-swap="outerHTML">{{template "widget-stat-loader"}}</div>

      <div hx-get="/widget/stat/downloads?_={{$v}}"
           hx-trigger="load"
           hx-target="this"
           hx-swap="outerHTML">{{template "widget-stat-loader"}}</div>

      <div hx-get="/widget/stat/new-registers?_={{$v}}"
           hx-trigger="load"
           hx-target="this"
           hx-swap="outerHTML">{{template "widget-stat-loader"}}</div>

      <div hx-get="/widget/stat/users?_={{$v}}"
           hx-trigger="load"
           hx-target="this"
           hx-swap="outerHTML">{{template "widget-stat-loader"}}</div>
    </div>

    <div class="divider"></div>

    {{/* Maps. */}}
    <div class="grid grid-cols-3 gap-4">
      {{range $u := 1}}
        <div hx-get="/widget/leaflet?_={{$v}}{{$u}}"
             hx-trigger="load"
             hx-target="this"
             hx-swap="outerHTML">{{template "widget-map-loader"}}</div>
      {{end}}

      {{range $u := 1}}
        <div hx-get="/widget/mapbox?_={{$v}}{{$u}}"
             hx-trigger="load"
             hx-target="this"
             hx-swap="outerHTML">{{template "widget-map-loader"}}</div>
      {{end}}
    </div>

    <div class="divider"></div>

    {{/* Employee table. */}}
    <div hx-get="/widget/table/employees?_={{$v}}"
         hx-trigger="load"
         hx-target="this"
         hx-swap="innerHTML">{{template "widget-table-loader"}}</div>

    <div class="divider"></div>

    {{/* Timeline. */}}
    <div hx-get="/widget/timeline?_={{$v}}"
         hx-trigger="load"
         hx-target="this"
         hx-swap="innerHTML">{{template "widget-timeline-loader"}}</div>

    <div class="divider"></div>
  {{end}}

  {{template "layout-end" .}}
{{end}}
