{{block "template-fragments-page" .}}
  {{template "head" .}}
  {{template "layout-start" .}}

  {{template "template-fragments" .}}

  {{template "layout-end" .}}
  {{template "foot" .}}
{{end}}

{{block "template-fragments" .}}
  <p>template fragments</p>

  {{block "button-only" .}}
    <button class="btn btn-primary"
            hx-get="/widget/button-only?value={{.Value}}"
            hx-trigger="click"
            hx-target="this"
            hx-swap="outerHTML">value: {{.Value}}</button>
  {{end}}

  <div class="divider"></div>

  <table class="table table-xs">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Archive status</th>
      </tr>
    </thead>

    <tbody>
    {{range .People}}
      {{block "people-do-archive" .}}
        <tr>
          {{if .Archived}}
            <td><strike>{{.Name}}</strike></td>
            <td><strike>{{.Age}}</strike></td>
            <td><button class="btn btn-secondary"
                        hx-trigger="click"
                        hx-patch="/people/archive-toggle"
                        hx-vals='{"name":"{{.Name}}"}'
                        hx-swap="outerHTML"
                        hx-target="closest tr"
                        hx-disabled-elt="this">Unarchive</button>
            </td>
          {{else}}
            <td>{{.Name}}</td>
            <td>{{.Age}}</td>
            <td><button class="btn btn-primary"
                        hx-trigger="click"
                        hx-patch="/people/archive-toggle"
                        hx-vals='{"name":"{{.Name}}"}'
                        hx-swap="outerHTML"
                        hx-target="closest tr"
                        hx-disabled-elt="this">Archive</button>
            </td>
          {{end}}
        </tr>
      {{end}}
    {{end}}
    </tbody>
  </table>
{{end}}
