{{block "widget-stat" .}}
  <div class="stats shadow min-w-1/4">
    <div class="stat">
      <div class="stat-title">{{.Stat.Title}}</div>
      <div class="stat-value{{if .ValueClass}} {{.ValueClass}}{{end}}">{{.Stat.Value}}</div>
      <div class="stat-desc{{if .DescxriptionClass}} {{.DescriptionClass}}{{end}}">{{.Stat.Description}}</div>
    </div>
  </div>
{{end}}

{{block "widget-table" .}}
  <div class="overflow-x-auto">
    <table class="table table-xs">
      {{if gt (len .Table.Head) 0}}
        <thead>
          <tr>
            {{range $i, $v := .Table.Head}}
              <td>{{$v}}</td>
            {{end}}
          </tr>
        </thead>
      {{end}}
      <tbody>
        {{range $i, $v := .Table.Body}}
          <tr>
            {{range $j, $u := .}}
              <td>{{.}}</td>
            {{end}}
          </tr>
        {{end}}
      </body>
      {{if gt (len .Table.Foot) 0}}
        <tfoot>
          <tr>
            {{range $i, $v := .Table.Foot}}
              <td>{{$v}}</td>
            {{end}}
          </tr>
        </tfoot>
      {{end}}

    </table>
  </div>
{{end}}

{{block "widget-server-time" .}}
  <div class="stat">
    <div class="stat-title">Server time</div>
    <div class="stat-value"
         hx-get="/widget/server-time"
         hx-trigger="load delay:1m"
         hx-target="closest div.stat"
         hx-swap="outerHTML">{{.Now}}</div>
    <div class="stat-desc"></div>
  </div>
{{end}}

{{block "widget-timeline" .}}
  <ul class="timeline timeline-vertical">
    {{range $k, $v := .Items}}
      <li>
        <hr />
        <div class="timeline-start">{{$k}}</div>
        <div class="timeline-middle">{{template "svg-timeline-tick"}}</div>
        <div class="timeline-end">{{$v}}</div>
        <hr />
      </li>
    {{end}}
  </ul>
{{end}}

{{define "svg-timeline-tick"}}
  <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
  </svg>
{{end}}
