{{block "widget-theme-toggle" .}}
  <label class="toggle text-base-content ml-2">
    {{block "widget-theme-toggle-checkbox" .}}
      <input type="checkbox"
             value="dark"
             class="theme-controller"
             {{if .DarkMode}}checked{{end}}
             hx-post="/theme/toggle"
             hx-trigger="change"
             hx-target="this"
             hx-swap="outerHTML"
       />
    {{end}}

    {{template "icon-sun"}}
    {{template "icon-moon"}}

  </label>
{{end}}
